<a href="https://colab.research.google.com/github/Ravi-shankar100/Python-Basics/blob/master/python_basics2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Sets 
set_var = {'HitMan','IronMan'}

In [ ]:
print(set_var)

{'HitMan', 'IronMan'}

In [ ]:
set_var.add('Hulk')

In [ ]:
print(set_var)

{'HitMan', 'Hulk', 'IronMan'}

In [ ]:
set1 = {'HitMan','IronMan','Hulk'}
set2 = {'HitMan','IronMan','SuperMan'}

set2.difference(set1)

{'SuperMan'}

In [ ]:
set2.difference_update(set1)
set2

{'SuperMan'}

In [ ]:
set2.intersection(set1)
set2.intersection_update(set1)
set2

{'HitMan', 'IronMan'}

In [ ]:
##Dictionaries
dicti = {}
type(dicti)

dict

In [ ]:
dicti = {"Car1": "Audi", "Car2": "BMW", "Car3": "MercedesBenz"}
print(dicti)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'MercedesBenz'}

In [ ]:
for x in dicti:
  print(x)

Car1
Car2
Car3

In [ ]:
for x in dicti.values():
  print(x)

Audi
BMW
MercedesBenz

In [ ]:
for x in dicti.items():
  print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'MercedesBenz')

In [ ]:
dicti['Car4'] = 'Audi2.0'
dicti

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'MercedesBenz', 'Car4': 'Audi2.0'}

In [ ]:
dicti['Car1'] = 'Maruti'
dicti

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'MercedesBenz', 'Car4': 'Audi2.0'}

In [ ]:
##Nested Dictionaries

car1_Model = {"Car1": "Audi"}
car2_Model = {"Car2": "BMW"}
car3_Model = {"Car3": "MercedesBenz"}

car_Model = {"car1": car1_Model,"car2": car2_Model,"car3":car3_Model}
car_Model

{'car1': {'Car1': 'Audi'},
 'car2': {'Car2': 'BMW'},
 'car3': {'Car3': 'MercedesBenz'}}

In [ ]:
print(car_Model['car1']['Car1'])

Audi

In [ ]:
##Tuples

my_tuple = ()
my_tuple = ('Krish','Ankur','Naik')
my_tuple

('Krish', 'Ankur', 'Naik')

In [ ]:
my_tuple[0]
my_tuple = ('Radha','Krishna')
my_tuple

('Radha', 'Krishna')

In [ ]:
my_tuple.count('Krishna')

1

In [ ]:
my_tuple.index('Krishna')

1

In [ ]:
##print vs return

def hello():
  return("Hello Welcome")

In [ ]:
val = hello()
print(val)

Hello Welcome
None

In [ ]:
##positional vs keyword

def hello(*args,**kwargs):
  print(args)
  print(kwargs)

In [ ]:
hello("Krish","Naik",age = 29,dob = 1998)

('Krish', 'Naik')
{'age': 29, 'dob': 1998}

In [ ]:
lst = ['Krish','Naik']
dicti = {'age': 29, 'dob': 1998}

In [ ]:
hello(lst,dicti)

(['Krish', 'Naik'], {'age': 29, 'dob': 1998})
{}

In [ ]:
hello(*lst,**dicti)

('Krish', 'Naik')
{'age': 29, 'dob': 1998}

In [ ]:
lst = [1,4,9,7,6,9,6]

In [ ]:
##Returning two values in a function
def even_odd(lst):
  even_sum = 0
  odd_sum = 0
  for i in lst:
    if i %2 == 0:
      even_sum = even_sum + i
    else:
      odd_sum = odd_sum + i
  return even_sum,odd_sum

In [ ]:
even_odd(lst)

(12, 16)